@import "@/styles/utils.less";

.filterForm {
  :global(.@{ant-prefix}-form-item) {
    margin-right: 0;

    // 选择器的样式比较特殊
    :global(.@{ant-prefix}-select) {
      min-width: 100px;
    }
  }
}

.standardFilter {
  justify-content: center;

  .row {
    width: 100%;
  }

  .hideCol {
    display: none;
  }

  .actionCol {
    text-align: right;
  }
}

.minimizeFilter {
}

.popoverPanel {
  width: 800px;

  // 格栅布局
  :global(.@{ant-prefix}-form-item-control-input-content) {
    & > * {
      width: 100%; // 撑满表单项
    }

    // 选择器的样式比较特殊
    :global(.@{ant-prefix}-select) {
      :global(.@{ant-prefix}-select-selector) {
        width: 0; // 避免选中项过长时挤占标签的空间
      }
    }
  }
}

.filterItem {
  // 定制样式
  &.customStyle {
    // 表单项边框和背景
    border-width: var(--ant-line-width, 1px);
    border-style: var(--ant-line-type, solid);
    border-color: var(--ant-color-border, #d9d9d9);
    border-radius: var(--ant-border-radius, 6px);
    background-color: var(--ant-color-bg-container, #fff);

    // 标签边框和背景
    :global(.@{ant-prefix}-form-item-label) {
      flex: none;
      border-right-width: var(--ant-line-width, 1px);
      border-right-style: var(--ant-line-type, solid);
      border-right-color: var(--ant-color-border, #d9d9d9);
      padding-left: calc(var(--ant-padding-sm, 12px) - 1px);
      background-color: var(--ant-color-fill-tertiary, rgba(0, 0, 0, 0.04));
    }

    // 输入组件边框和背景
    :global(.@{ant-prefix}-form-item-control-input-content) {
      & > * {
        border: none;
        background-color: transparent;
      }

      // 选择器的样式比较特殊
      :global(.@{ant-prefix}-select) {
        :global(.@{ant-prefix}-select-selector) {
          border: none;
          background-color: transparent;
        }
      }
    }

    // 标签超长截断
    .label {
      .ellipsis();
      max-width: 120px;
    }
  }
}
