@import "@/styles/utils.less";

.sider {
  display: flex;
  flex-direction: column;
  background-color: transparent !important;

  &.horizontalSider {
    background-color: @colorBgContainer !important;
  }

  .top {
    flex: none;
  }

  .bottom {
    flex: none;
  }

  :global(.@{antPrefixClass}-layout-sider-children) {
    flex: auto;
    display: flex;
    flex-direction: column;
  }

  .menu {
    flex: auto;
    overflow-y: auto;
    overflow-y: overlay;
    background-color: transparent;
    scrollbar-width: none;

    &:hover {
      scrollbar-width: none;
    }
  }
}

.leftMenu {
  &:global(.@{antPrefixClass}-menu.@{antPrefixClass}-menu-root) {
    border-right: none;
    border-inline-end: none;
  }

  :global(.@{antPrefixClass}-menu-submenu) {
    :global(.@{antPrefixClass}-menu-submenu-title) a {
      color: @colorLink;
    }
  }
}

.verticalMenu {
  :global(.@{antPrefixClass}-menu-item) {
    padding: 0;
    & > span {
      display: inline-block;
    }
  }

  :global(.@{antPrefixClass}-menu-submenu) {
    padding: 0;
    :global(.@{antPrefixClass}-menu-submenu-title) {
      padding: 0;
      & > span {
        display: inline-block;
      }
    }
  }
  :global(.@{antPrefixClass}-menu-submenu-selected) {
    & > :global(.@{antPrefixClass}-menu-submenu-title) {
      color: @colorPrimary;
      background-color: @colorBgContainer;
    }
  }
  .verticalItem {
    width: 56px;
    height: 56px;
    overflow: hidden;

    .verticalIcon {
      display: block;
      text-align: center;
      height: 32px;
      line-height: 44px !important;
      font-size: 24px !important;
      & > span {
        display: inline-block;
        height: 24px;
        line-height: 24px !important;
      }
    }
    .verticalLabel {
      font-size: 12px;
      text-align: center;
      line-height: 20px !important;
    }
  }
}

[data-theme="dark"] {
  .verticalPopup {
    &:global(.@{antPrefixClass}-menu-submenu-popup) {
      :global(.@{antPrefixClass}-menu-item-selected) {
        background-color: @menuItemHoverBg;
      }

      :global(.@{antPrefixClass}-menu-submenu-selected) {
        :global(.@{antPrefixClass}-menu-submenu-title) {
          background-color: @menuItemHoverBg !important;
        }
      }
    }
  }
}

.verticalPopup {
  padding-bottom: @bizLayoutGap;
  &:global(.@{antPrefixClass}-menu-submenu-popup) {
    :global(.@{antPrefixClass}-menu-item) {
      line-height: 32px;
      height: 32px;
    }

    :global(.@{antPrefixClass}-menu-item-selected) {
      background-color: @colorPrimaryBg;
    }

    :global(.@{antPrefixClass}-menu-submenu-title) {
      line-height: 32px !important;
      height: 32px !important;
    }

    :global(.@{antPrefixClass}-menu-submenu-selected) {
      line-height: 32px !important;
      height: 32px !important;
      :global(.@{antPrefixClass}-menu-submenu-title) {
        color: @colorPrimary;
        background-color: @colorPrimaryBg !important;
      }
    }
  }
}

.horizontalMenu {
  // :global(.@{antPrefixClass}-menu-item-selected) {
  //   &::before {
  //     content: "";
  //     position: absolute;
  //     left: -2px;
  //     top: 50%;
  //     transform: translateY(-50%);
  //     width: 4px;
  //     height: 17px;
  //     border-radius: 2px;
  //     background-color: @colorPrimary;
  //   }
  // }
}
