@import "@/styles/utils.less";

.dropdownActions {
  &:global(.@{ant-prefix}-dropdown) {
    :global(.@{ant-prefix}-dropdown-menu) {
      :global(.@{ant-prefix}-dropdown-menu-item) {
        padding: 0;
      }
    }
  }
}

.actionIcon {
  display: inline-block;
  vertical-align: -0.15em;
  cursor: pointer;
  &:hover {
    color: @colorLink;
  }
}
