@import "@/styles/utils.less";

.layoutTabs {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: @bizLayoutRadius;
  background-color: @colorBgContainer;

  .title {
    display: block;
    line-height: 1;
  }

  .extend {
  }

  &:not(.rimless) {
    > .tabs {
      > :global(.@{ant-prefix}-tabs-content-holder) {
        > :global(.@{ant-prefix}-tabs-content) {
          > :global(.@{ant-prefix}-tabs-tabpane) {
            padding: @bizLayoutGap;
          }
        }
      }
    }

    &.top {
      > .tabs {
        > :global(.@{ant-prefix}-tabs-content-holder) {
          > :global(.@{ant-prefix}-tabs-content) {
            > :global(.@{ant-prefix}-tabs-tabpane) {
              padding-top: 0;
            }
          }
        }
      }
    }
    &.bottom {
      > .tabs {
        > :global(.@{ant-prefix}-tabs-content-holder) {
          > :global(.@{ant-prefix}-tabs-content) {
            > :global(.@{ant-prefix}-tabs-tabpane) {
              padding-bottom: 0;
            }
          }
        }
      }
    }
  }

  &.rimless {
    &.left {
      > .tabs {
        > :global(.@{ant-prefix}-tabs-content-holder) {
          > :global(.@{ant-prefix}-tabs-content) {
            > :global(.@{ant-prefix}-tabs-tabpane) {
              padding-left: 0;
            }
          }
        }
      }
    }

    &.right {
      > .tabs {
        > :global(.@{ant-prefix}-tabs-content-holder) {
          > :global(.@{ant-prefix}-tabs-content) {
            > :global(.@{ant-prefix}-tabs-tabpane) {
              padding-right: 0;
            }
          }
        }
      }
    }
  }

  &.top,
  &.bottom {
    > .tabs {
      > .tabBar,
      > :global(.@{ant-prefix}-tabs-nav) {
        padding-left: @bizLayoutGap;
        padding-right: @bizLayoutGap;

        .title {
          padding-right: 16px;
          margin-right: 16px;
          border-right: 1px solid @bizLayoutBorderColor;
        }
      }
    }
  }

  &.left,
  &.right {
    > .tabs {
      > .tabBar,
      > :global(.@{ant-prefix}-tabs-nav) {
        padding-top: @bizLayoutGap;
        padding-bottom: @bizLayoutGap;
      }
    }
  }
}
