@import "@/styles/utils.less";

.layoutTabs {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: @bizLayoutRadius;
  background-color: @colorBgContainer;

  .title {
    display: block;
    line-height: 1;
    padding-right: 16px;
    margin-right: 16px;
    border-right: 1px solid @colorBorderSecondary;
  }

  .extend {
  }

  > .tabs {
    > .tabBar {
      padding-left: @bizLayoutGap;
      padding-right: @bizLayoutGap;
    }

    > :global(.@{ant-prefix}-tabs-nav) {
      padding-left: @bizLayoutGap;
      padding-right: @bizLayoutGap;
    }
  }

  &:not(.rimless) {
    > .tabs {
      > :global(.@{ant-prefix}-tabs-content-holder) {
        > :global(.@{ant-prefix}-tabs-content) {
          > :global(.@{ant-prefix}-tabs-tabpane) {
            padding-left: @bizLayoutGap;
            padding-right: @bizLayoutGap;
            padding-bottom: @bizLayoutGap;
          }
        }
      }
    }
  }
}
