@import "@/styles/utils.less";

.layoutTabs {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: @bizLayoutRadius;
  background-color: @colorBgContainer;

  > .tabs {
    .title {
      display: block;
      line-height: 1;
      margin-left: @bizLayoutGap;
      margin-right: 16px;
      padding-right: 16px;
      border-right: 1px solid @colorBorderSecondary;
    }

    .extend {
      margin-right: @bizLayoutGap;
    }
  }
}
