@import "@/styles/utils.less";

.layoutSimple {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: @bizLayoutGap;
  border-radius: 8px;
  background-color: @colorBgContainer;

  &.bordered {
    border: 1px solid @colorBorderSecondary;
  }

  &.showTitle {
    padding-top: 0;

    .head {
      margin: @bizLayoutGap 0;
    }
  }

  .head {
    flex: none;
  }

  .body {
    flex: auto;

    &.overflow {
      height: 0;
      overflow-y: auto;
      scrollbar-gutter: auto;
    }
  }
}
