@import "@/styles/utils.less";

.layoutSimple {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: @bizLayoutGap;
  padding-top: 4px;
  border-radius: 8px;
  background-color: @colorBgContainer;

  .head {
    flex: none;
  }

  .body {
    flex: auto;
  }
}
