@import "@/styles/utils.less";

.layout {
  overflow: auto;
  overflow: overlay;
  height: 100vh; // 容器内滚动，而非 body 滚动
  min-height: 100vh;
  background: transparent;

  .main {
    overflow: auto;
    overflow: overlay;
    transition: all 0.2s;
    background: transparent;
  }

  .sider {
    position: fixed;
    left: 0;
    padding-bottom: @bizLayoutHeader; // 避免因顶部栏造成菜单底部超出屏幕不可见
  }

  .content {
    overflow: auto;
    overflow: overlay;
    display: flex;
    flex-direction: column;

    .container {
      flex: auto;
    }
  }
}
