// #region 样式配置

/**
 * 注意：
 * 需与 @/common/theme.ts 中的 样式配置 保持一致。
 */

/** antd 变量前缀 */
@antPrefixVar: ant;
/** antd 类名前缀 */
@antPrefixClass: ant;
/** antd 图标前缀 */
@antPrefixIcon: anticon;
/** 遗留的 antd 类名前缀 */
@ant-prefix: @antPrefixClass;

/** 业务布局 z-index */
@bizLayoutZIndex: 100;
/** 业务布局标题栏高度 */
@bizLayoutTitle: 42px;
/** 业务布局边距 */
@bizLayoutGap: 12px;
/** 业务布局圆角 */
@bizLayoutRadius: 8px;

// #endregion

// #region 辅助函数

/** 清除浮动 */
.clear() {
  zoom: 1;
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

/** 单行超出截断 */
.ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/** 多行超出截断 */
.lineEllipsis(@line) {
  overflow: hidden;
  word-break: break-all;
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: @line;
}

// #endregion

// #region 基础全局样式

/**
 * 注意：
 * antd 样式变量仅在 .ant-app 内部生效。
 * 需与 @/common/theme.ts 中 colorBgLayout 保持一致。
 */

/** 基础背景色 */
@basicBgColor: #eff2f7;
/** 基础背景色(深色主题) */
@basicBgColorDark: #000000;

/** 基础主题覆盖 */
.basicThemeOverride() {
  [data-theme="light"] {
    color-scheme: light;
    background-color: @basicBgColor;
  }

  [data-theme="dark"] {
    color-scheme: dark;
    background-color: @basicBgColorDark;
  }
}

/** 基础元素覆盖 */
.basicElementOverride() {
  html {
    background-color: @basicBgColor;
  }

  html,
  body {
    margin: 0px;
    padding: 0px;
    overscroll-behavior: none;
  }
}

/** 基础全局覆盖 */
.basicGlobalOverride() {
  .basicThemeOverride();
  .basicElementOverride();
}

// #endregion

// #region antd 组件覆盖

/**
 * 注意：
 * 优先使用 @/common/theme.ts 中 getComponentsToken 组件变量。
 * 只有当 antd 未提供相关的变量或使用不便时，才在此处使用样式覆盖。
 */

/** tabs 样式覆盖 */
.antTabsOverride() {
  .@{antPrefixClass}-tabs {
    .@{antPrefixClass}-tabs-nav-list {
      .@{antPrefixClass}-tabs-tab {
        padding-left: 16px;
        padding-right: 16px;

        + .@{antPrefixClass}-tabs-tab {
          margin-top: 0;
          margin-left: 0;
        }
      }
    }
  }
}

/** 组件级别的样式覆盖 */
.antComponentsOverride() {
  .antTabsOverride();
}

// #endregion

// #region 自定义滚动条

/** 滚动条滑块颜色 */
@scrollbarThumb: #c7c7c7;
/** 滚动条滑块颜色(深色主题) */
@scrollbarThumbDark: #6b6b6b;
/** 滚动条轨道颜色 */
@scrollbarTrack: transparent;

/** 现代的滚动条 */
.scrollbarModern(@thumb: @scrollbarThumb, @track: @scrollbarTrack) {
  scrollbar-width: thin;
  scrollbar-color: @thumb @track;
}

/** 遗留的滚动条 */
.scrollbarLegacy(@thumb: @scrollbarThumb, @track: @scrollbarTrack) {
  &::-webkit-scrollbar {
    background-color: @track;
  }
  &::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    border-radius: 10px;
    background-color: @thumb;
    background-clip: content-box;
  }
}

/** 兼容的滚动条 */
.scrollbarCompatible(@thumb: @scrollbarThumb, @track: @scrollbarTrack) {
  @supports (scrollbar-width: thin) {
    .scrollbarModern(@thumb, @track);
  }
  @supports not (scrollbar-width: thin) {
    .scrollbarLegacy(@thumb, @track);
  }
}

/** 兼容的 :hover 滚动条 */
.scrollbarCompatibleHover(@thumb: @scrollbarThumb, @track: @scrollbarTrack) {
  @supports (scrollbar-width: thin) {
    .scrollbarModern(transparent, transparent);
    &:hover {
      .scrollbarModern(@thumb, @track);
    }
  }
  @supports not (scrollbar-width: thin) {
    .scrollbarLegacy(transparent, transparent);
    &:hover {
      .scrollbarLegacy(@thumb, @track);
    }
  }
}

/** 匹配 * 的滚动条 */
.scrollbarStarSelector() {
  * {
    .scrollbarCompatible(@scrollbarThumb, @scrollbarTrack);
  }

  [data-theme="dark"] {
    * {
      .scrollbarCompatible(@scrollbarThumbDark, @scrollbarTrack);
    }
  }
}

/** 匹配 *:hover 的滚动条 */
.scrollbarStarSelectorHover () {
  * {
    .scrollbarCompatibleHover(@scrollbarThumb, @scrollbarTrack);
  }

  [data-theme="dark"] {
    * {
      .scrollbarCompatibleHover(@scrollbarThumbDark, @scrollbarTrack);
    }
  }
}

// #endregion

// #region antd 变量映射

/**
 * 注意：
 * 源自 .ant-app 中的样式变量，移除色板变量及其衍生变量。
 * 在 js 中可通过 `const { token } = theme.useToken()` 获取。
 * 在 less 中请通过 `@colorPrimary` 获取，不建议使用 `var(--ant-color-primary)` 获取。
 * 
 * 可参考：
 * https://ant-design.antgroup.com/docs/react/customize-theme-cn#seedtoken
 * https://github.com/ant-design/ant-design/blob/master/.dumi/theme/builtins/TokenTable/index.tsx#L103
 * node_modules/antd/es/version/token-meta.json
 * node_modules/antd/es/version/token.json
 */

/** 伪造的默认色(该 token 实际并不存在) */
@colorDefault: "rgba(128, 128, 128, 0.5)";

@colorPrimary: var(~"--@{antPrefixVar}-color-primary");
@colorSuccess: var(~"--@{antPrefixVar}-color-success");
@colorWarning: var(~"--@{antPrefixVar}-color-warning");
@colorError: var(~"--@{antPrefixVar}-color-error");
@colorInfo: var(~"--@{antPrefixVar}-color-info");
@colorLink: var(~"--@{antPrefixVar}-color-link");
@colorTextBase: var(~"--@{antPrefixVar}-color-text-base");
@colorBgBase: var(~"--@{antPrefixVar}-color-bg-base");
@fontFamily: var(~"--@{antPrefixVar}-font-family");
@fontFamilyCode: var(~"--@{antPrefixVar}-font-family-code");
@fontSize: var(~"--@{antPrefixVar}-font-size");
@lineWidth: var(~"--@{antPrefixVar}-line-width");
@lineType: var(~"--@{antPrefixVar}-line-type");
@motionEaseOutCirc: var(~"--@{antPrefixVar}-motion-ease-out-circ");
@motionEaseInOutCirc: var(~"--@{antPrefixVar}-motion-ease-in-out-circ");
@motionEaseOut: var(~"--@{antPrefixVar}-motion-ease-out");
@motionEaseInOut: var(~"--@{antPrefixVar}-motion-ease-in-out");
@motionEaseOutBack: var(~"--@{antPrefixVar}-motion-ease-out-back");
@motionEaseInBack: var(~"--@{antPrefixVar}-motion-ease-in-back");
@motionEaseInQuint: var(~"--@{antPrefixVar}-motion-ease-in-quint");
@motionEaseOutQuint: var(~"--@{antPrefixVar}-motion-ease-out-quint");
@borderRadius: var(~"--@{antPrefixVar}-border-radius");
@sizePopupArrow: var(~"--@{antPrefixVar}-size-popup-arrow");
@controlHeight: var(~"--@{antPrefixVar}-control-height");
@zIndexBase: var(~"--@{antPrefixVar}-z-index-base");
@zIndexPopupBase: var(~"--@{antPrefixVar}-z-index-popup-base");
@opacityImage: var(~"--@{antPrefixVar}-opacity-image");
@colorText: var(~"--@{antPrefixVar}-color-text");
@colorTextSecondary: var(~"--@{antPrefixVar}-color-text-secondary");
@colorTextTertiary: var(~"--@{antPrefixVar}-color-text-tertiary");
@colorTextQuaternary: var(~"--@{antPrefixVar}-color-text-quaternary");
@colorFill: var(~"--@{antPrefixVar}-color-fill");
@colorFillSecondary: var(~"--@{antPrefixVar}-color-fill-secondary");
@colorFillTertiary: var(~"--@{antPrefixVar}-color-fill-tertiary");
@colorFillQuaternary: var(~"--@{antPrefixVar}-color-fill-quaternary");
@colorBgSolid: var(~"--@{antPrefixVar}-color-bg-solid");
@colorBgSolidHover: var(~"--@{antPrefixVar}-color-bg-solid-hover");
@colorBgSolidActive: var(~"--@{antPrefixVar}-color-bg-solid-active");
@colorBgLayout: var(~"--@{antPrefixVar}-color-bg-layout");
@colorBgContainer: var(~"--@{antPrefixVar}-color-bg-container");
@colorBgElevated: var(~"--@{antPrefixVar}-color-bg-elevated");
@colorBgSpotlight: var(~"--@{antPrefixVar}-color-bg-spotlight");
@colorBgBlur: var(~"--@{antPrefixVar}-color-bg-blur");
@colorBorder: var(~"--@{antPrefixVar}-color-border");
@colorBorderSecondary: var(~"--@{antPrefixVar}-color-border-secondary");
@colorPrimaryBg: var(~"--@{antPrefixVar}-color-primary-bg");
@colorPrimaryBgHover: var(~"--@{antPrefixVar}-color-primary-bg-hover");
@colorPrimaryBorder: var(~"--@{antPrefixVar}-color-primary-border");
@colorPrimaryBorderHover: var(~"--@{antPrefixVar}-color-primary-border-hover");
@colorPrimaryHover: var(~"--@{antPrefixVar}-color-primary-hover");
@colorPrimaryActive: var(~"--@{antPrefixVar}-color-primary-active");
@colorPrimaryTextHover: var(~"--@{antPrefixVar}-color-primary-text-hover");
@colorPrimaryText: var(~"--@{antPrefixVar}-color-primary-text");
@colorPrimaryTextActive: var(~"--@{antPrefixVar}-color-primary-text-active");
@colorSuccessBg: var(~"--@{antPrefixVar}-color-success-bg");
@colorSuccessBgHover: var(~"--@{antPrefixVar}-color-success-bg-hover");
@colorSuccessBorder: var(~"--@{antPrefixVar}-color-success-border");
@colorSuccessBorderHover: var(~"--@{antPrefixVar}-color-success-border-hover");
@colorSuccessHover: var(~"--@{antPrefixVar}-color-success-hover");
@colorSuccessActive: var(~"--@{antPrefixVar}-color-success-active");
@colorSuccessTextHover: var(~"--@{antPrefixVar}-color-success-text-hover");
@colorSuccessText: var(~"--@{antPrefixVar}-color-success-text");
@colorSuccessTextActive: var(~"--@{antPrefixVar}-color-success-text-active");
@colorErrorBg: var(~"--@{antPrefixVar}-color-error-bg");
@colorErrorBgHover: var(~"--@{antPrefixVar}-color-error-bg-hover");
@colorErrorBgFilledHover: var(~"--@{antPrefixVar}-color-error-bg-filled-hover");
@colorErrorBgActive: var(~"--@{antPrefixVar}-color-error-bg-active");
@colorErrorBorder: var(~"--@{antPrefixVar}-color-error-border");
@colorErrorBorderHover: var(~"--@{antPrefixVar}-color-error-border-hover");
@colorErrorHover: var(~"--@{antPrefixVar}-color-error-hover");
@colorErrorActive: var(~"--@{antPrefixVar}-color-error-active");
@colorErrorTextHover: var(~"--@{antPrefixVar}-color-error-text-hover");
@colorErrorText: var(~"--@{antPrefixVar}-color-error-text");
@colorErrorTextActive: var(~"--@{antPrefixVar}-color-error-text-active");
@colorWarningBg: var(~"--@{antPrefixVar}-color-warning-bg");
@colorWarningBgHover: var(~"--@{antPrefixVar}-color-warning-bg-hover");
@colorWarningBorder: var(~"--@{antPrefixVar}-color-warning-border");
@colorWarningBorderHover: var(~"--@{antPrefixVar}-color-warning-border-hover");
@colorWarningHover: var(~"--@{antPrefixVar}-color-warning-hover");
@colorWarningActive: var(~"--@{antPrefixVar}-color-warning-active");
@colorWarningTextHover: var(~"--@{antPrefixVar}-color-warning-text-hover");
@colorWarningText: var(~"--@{antPrefixVar}-color-warning-text");
@colorWarningTextActive: var(~"--@{antPrefixVar}-color-warning-text-active");
@colorInfoBg: var(~"--@{antPrefixVar}-color-info-bg");
@colorInfoBgHover: var(~"--@{antPrefixVar}-color-info-bg-hover");
@colorInfoBorder: var(~"--@{antPrefixVar}-color-info-border");
@colorInfoBorderHover: var(~"--@{antPrefixVar}-color-info-border-hover");
@colorInfoHover: var(~"--@{antPrefixVar}-color-info-hover");
@colorInfoActive: var(~"--@{antPrefixVar}-color-info-active");
@colorInfoTextHover: var(~"--@{antPrefixVar}-color-info-text-hover");
@colorInfoText: var(~"--@{antPrefixVar}-color-info-text");
@colorInfoTextActive: var(~"--@{antPrefixVar}-color-info-text-active");
@colorLinkHover: var(~"--@{antPrefixVar}-color-link-hover");
@colorLinkActive: var(~"--@{antPrefixVar}-color-link-active");
@colorBgMask: var(~"--@{antPrefixVar}-color-bg-mask");
@colorWhite: var(~"--@{antPrefixVar}-color-white");
@fontSizeSm: var(~"--@{antPrefixVar}-font-size-sm");
@fontSizeLg: var(~"--@{antPrefixVar}-font-size-lg");
@fontSizeXl: var(~"--@{antPrefixVar}-font-size-xl");
@fontSizeHeading-1: var(~"--@{antPrefixVar}-font-size-heading-1");
@fontSizeHeading-2: var(~"--@{antPrefixVar}-font-size-heading-2");
@fontSizeHeading-3: var(~"--@{antPrefixVar}-font-size-heading-3");
@fontSizeHeading-4: var(~"--@{antPrefixVar}-font-size-heading-4");
@fontSizeHeading-5: var(~"--@{antPrefixVar}-font-size-heading-5");
@lineHeight: var(~"--@{antPrefixVar}-line-height");
@lineHeightLg: var(~"--@{antPrefixVar}-line-height-lg");
@lineHeightSm: var(~"--@{antPrefixVar}-line-height-sm");
@fontHeight: var(~"--@{antPrefixVar}-font-height");
@fontHeightLg: var(~"--@{antPrefixVar}-font-height-lg");
@fontHeightSm: var(~"--@{antPrefixVar}-font-height-sm");
@lineHeightHeading-1: var(~"--@{antPrefixVar}-line-height-heading-1");
@lineHeightHeading-2: var(~"--@{antPrefixVar}-line-height-heading-2");
@lineHeightHeading-3: var(~"--@{antPrefixVar}-line-height-heading-3");
@lineHeightHeading-4: var(~"--@{antPrefixVar}-line-height-heading-4");
@lineHeightHeading-5: var(~"--@{antPrefixVar}-line-height-heading-5");
@controlHeightSm: var(~"--@{antPrefixVar}-control-height-sm");
@controlHeightXs: var(~"--@{antPrefixVar}-control-height-xs");
@controlHeightLg: var(~"--@{antPrefixVar}-control-height-lg");
@motionDurationFast: var(~"--@{antPrefixVar}-motion-duration-fast");
@motionDurationMid: var(~"--@{antPrefixVar}-motion-duration-mid");
@motionDurationSlow: var(~"--@{antPrefixVar}-motion-duration-slow");
@lineWidthBold: var(~"--@{antPrefixVar}-line-width-bold");
@borderRadiusXs: var(~"--@{antPrefixVar}-border-radius-xs");
@borderRadiusSm: var(~"--@{antPrefixVar}-border-radius-sm");
@borderRadiusLg: var(~"--@{antPrefixVar}-border-radius-lg");
@borderRadiusOuter: var(~"--@{antPrefixVar}-border-radius-outer");
@colorFillContent: var(~"--@{antPrefixVar}-color-fill-content");
@colorFillContentHover: var(~"--@{antPrefixVar}-color-fill-content-hover");
@colorFillAlter: var(~"--@{antPrefixVar}-color-fill-alter");
@colorBgContainerDisabled: var(
  ~"--@{antPrefixVar}-color-bg-container-disabled"
);
@colorBorderBg: var(~"--@{antPrefixVar}-color-border-bg");
@colorSplit: var(~"--@{antPrefixVar}-color-split");
@colorTextPlaceholder: var(~"--@{antPrefixVar}-color-text-placeholder");
@colorTextDisabled: var(~"--@{antPrefixVar}-color-text-disabled");
@colorTextHeading: var(~"--@{antPrefixVar}-color-text-heading");
@colorTextLabel: var(~"--@{antPrefixVar}-color-text-label");
@colorTextDescription: var(~"--@{antPrefixVar}-color-text-description");
@colorTextLightSolid: var(~"--@{antPrefixVar}-color-text-light-solid");
@colorHighlight: var(~"--@{antPrefixVar}-color-highlight");
@colorBgTextHover: var(~"--@{antPrefixVar}-color-bg-text-hover");
@colorBgTextActive: var(~"--@{antPrefixVar}-color-bg-text-active");
@colorIcon: var(~"--@{antPrefixVar}-color-icon");
@colorIconHover: var(~"--@{antPrefixVar}-color-icon-hover");
@colorErrorOutline: var(~"--@{antPrefixVar}-color-error-outline");
@colorWarningOutline: var(~"--@{antPrefixVar}-color-warning-outline");
@fontSizeIcon: var(~"--@{antPrefixVar}-font-size-icon");
@lineWidthFocus: var(~"--@{antPrefixVar}-line-width-focus");
@controlOutlineWidth: var(~"--@{antPrefixVar}-control-outline-width");
@controlInteractiveSize: var(~"--@{antPrefixVar}-control-interactive-size");
@controlItemBgHover: var(~"--@{antPrefixVar}-control-item-bg-hover");
@controlItemBgActive: var(~"--@{antPrefixVar}-control-item-bg-active");
@controlItemBgActiveHover: var(
  ~"--@{antPrefixVar}-control-item-bg-active-hover"
);
@controlItemBgActiveDisabled: var(
  ~"--@{antPrefixVar}-control-item-bg-active-disabled"
);
@controlTmpOutline: var(~"--@{antPrefixVar}-control-tmp-outline");
@controlOutline: var(~"--@{antPrefixVar}-control-outline");
@fontWeightStrong: var(~"--@{antPrefixVar}-font-weight-strong");
@opacityLoading: var(~"--@{antPrefixVar}-opacity-loading");
@linkDecoration: var(~"--@{antPrefixVar}-link-decoration");
@linkHoverDecoration: var(~"--@{antPrefixVar}-link-hover-decoration");
@linkFocusDecoration: var(~"--@{antPrefixVar}-link-focus-decoration");
@controlPaddingHorizontal: var(~"--@{antPrefixVar}-control-padding-horizontal");
@controlPaddingHorizontalSm: var(
  ~"--@{antPrefixVar}-control-padding-horizontal-sm"
);
@paddingXxs: var(~"--@{antPrefixVar}-padding-xxs");
@paddingXs: var(~"--@{antPrefixVar}-padding-xs");
@paddingSm: var(~"--@{antPrefixVar}-padding-sm");
@padding: var(~"--@{antPrefixVar}-padding");
@paddingMd: var(~"--@{antPrefixVar}-padding-md");
@paddingLg: var(~"--@{antPrefixVar}-padding-lg");
@paddingXl: var(~"--@{antPrefixVar}-padding-xl");
@paddingContentHorizontalLg: var(
  ~"--@{antPrefixVar}-padding-content-horizontal-lg"
);
@paddingContentVerticalLg: var(
  ~"--@{antPrefixVar}-padding-content-vertical-lg"
);
@paddingContentHorizontal: var(~"--@{antPrefixVar}-padding-content-horizontal");
@paddingContentVertical: var(~"--@{antPrefixVar}-padding-content-vertical");
@paddingContentHorizontalSm: var(
  ~"--@{antPrefixVar}-padding-content-horizontal-sm"
);
@paddingContentVerticalSm: var(
  ~"--@{antPrefixVar}-padding-content-vertical-sm"
);
@marginXxs: var(~"--@{antPrefixVar}-margin-xxs");
@marginXs: var(~"--@{antPrefixVar}-margin-xs");
@marginSm: var(~"--@{antPrefixVar}-margin-sm");
@margin: var(~"--@{antPrefixVar}-margin");
@marginMd: var(~"--@{antPrefixVar}-margin-md");
@marginLg: var(~"--@{antPrefixVar}-margin-lg");
@marginXl: var(~"--@{antPrefixVar}-margin-xl");
@marginXxl: var(~"--@{antPrefixVar}-margin-xxl");
@boxShadow: var(~"--@{antPrefixVar}-box-shadow");
@boxShadowSecondary: var(~"--@{antPrefixVar}-box-shadow-secondary");
@boxShadowTertiary: var(~"--@{antPrefixVar}-box-shadow-tertiary");
@boxShadowPopoverArrow: var(~"--@{antPrefixVar}-box-shadow-popover-arrow");
@boxShadowCard: var(~"--@{antPrefixVar}-box-shadow-card");
@boxShadowDrawerRight: var(~"--@{antPrefixVar}-box-shadow-drawer-right");
@boxShadowDrawerLeft: var(~"--@{antPrefixVar}-box-shadow-drawer-left");
@boxShadowDrawerUp: var(~"--@{antPrefixVar}-box-shadow-drawer-up");
@boxShadowDrawerDown: var(~"--@{antPrefixVar}-box-shadow-drawer-down");
@boxShadowTabsOverflowLeft: var(
  ~"--@{antPrefixVar}-box-shadow-tabs-overflow-left"
);
@boxShadowTabsOverflowRight: var(
  ~"--@{antPrefixVar}-box-shadow-tabs-overflow-right"
);
@boxShadowTabsOverflowTop: var(
  ~"--@{antPrefixVar}-box-shadow-tabs-overflow-top"
);
@boxShadowTabsOverflowBottom: var(
  ~"--@{antPrefixVar}-box-shadow-tabs-overflow-bottom"
);

// #endregion
