/**
 * 注意：
 * 本文件中的 样式配置 和 主题变量 部分，
 * 需与 @/common/theme.ts 保持一致。
 */

// #region 样式配置

/** antd 变量前缀 */
@antPrefixVar: ant;
/** antd 类名前缀 */
@antPrefixClass: ant;
/** antd 图标前缀 */
@antPrefixIcon: anticon;
/** 遗留的 antd 类名前缀 */
@ant-prefix: @antPrefixClass;

/** 业务布局 z-index */
@bizLayoutZIndex: 100;
/** 业务布局顶部栏高度 */
@bizLayoutHeader: 48px;
/** 业务布局标题栏高度 */
@bizLayoutTitle: 42px;
/** 业务布局边距 */
@bizLayoutGap: 12px;
/** 业务布局圆角 */
@bizLayoutRadius: 8px;
/** 业务布局边框颜色 */
@bizLayoutBorderColor: #ebeef5; // #f0f0f0
/** 业务布局边框颜色 */
@bizLayoutBorderColorDark: #303030;

// #endregion

// #region 主题变量

// #region 主题变量-状态色

/** 主题色 */
@colorPrimary: var(
  ~"--@{antPrefixVar}-color-primary",
  #2176ff
); // 默认值: #1677ff | #1668dc
/** 链接色  */
@colorLink: var(
  ~"--@{antPrefixVar}-color-link",
  #2176ff
); // 默认值: #1677ff | #1668dc
/** 信息色 */
@colorInfo: var(
  ~"--@{antPrefixVar}-color-info",
  #24a7ff
); // 默认值: #1677ff | #1668dc
/** 成功色 */
@colorSuccess: var(
  ~"--@{antPrefixVar}-color-success",
  #36b257
); // 默认值: #52c41a | #49aa19
/** 警告色 */
@colorWarning: var(
  ~"--@{antPrefixVar}-color-warning",
  #fbc504
); // 默认值: #faad14 | #d89614
/** 失败色 */
@colorError: var(
  ~"--@{antPrefixVar}-color-error",
  #db4539
); // 默认值: #ff4d4f | #dc4446
/** 默认色(该 token 实际并不存在) */
@colorDefault: rgba(0, 0, 0, 0.25);
@colorDefaultDark: rgba(255, 255, 255, 0.25);

// #endregion

// #region 主题变量-文本色

/** 第一级文本色 */
@colorText: var(
  ~"--@{antPrefixVar}-color-text",
  #323340
); // 默认值: rgba(0, 0, 0, 0.88) | rgba(255, 255, 255, 0.85)
/** 第二级文本色 */
@colorTextSecondary: var(
  ~"--@{antPrefixVar}-color-text-secondary",
  #565866
); // 默认值: rgba(0, 0, 0, 0.65) | rgba(255, 255, 255, 0.65)
/** 第三级文本色 */
@colorTextTertiary: var(
  ~"--@{antPrefixVar}-color-text-tertiary",
  #7d7f8c
); // 默认值: rgba(0, 0, 0, 0.45) | rgba(255, 255, 255, 0.45)
/** 第四级文本色 */
@colorTextQuaternary: var(
  ~"--@{antPrefixVar}-color-text-quaternary",
  #a8aab3
); // 默认值: rgba(0, 0, 0, 0.25) | rgba(255, 255, 255, 0.25)

// #endregion

// #region 主题变量-填充色

/** 第一级填充色 */
@colorFill: var(~"--@{antPrefixVar}-color-fill", rgba(0, 0, 0, 0.15));
/** 第二级填充色 */
@colorFillSecondary: var(
  ~"--@{antPrefixVar}-color-fill-secondary",
  rgba(0, 0, 0, 0.06)
);
/** 第三级填充色 */
@colorFillTertiary: var(
  ~"--@{antPrefixVar}-color-fill-tertiary",
  rgba(0, 0, 0, 0.04)
);
/** 第四级填充色 */
@colorFillQuaternary: var(
  ~"--@{antPrefixVar}-color-fill-quaternary",
  rgba(0, 0, 0, 0.02)
);

// #endregion

// #region 主题变量-边框色

/** 第一级边框色 */
@colorBorder: var(~"--@{antPrefixVar}-color-border", #d9d9d9);
/** 第二级边框色 */
@colorBorderSecondary: var(
  ~"--@{antPrefixVar}-color-border-secondary",
  #f0f0f0
);

// #endregion

// #region 主题变量-边框圆角

/** 基础组件的圆角大小 */
@borderRadius: var(~"--@{antPrefixVar}-border-radius", 4px); // 默认值: 6px
/** LG号圆角，用于组件中的一些大圆角 */
@borderRadiusLG: var(~"--@{antPrefixVar}-border-radius-lg", 8px);
/** SM号圆角，用于组件小尺寸下的圆角 */
@borderRadiusSM: var(~"--@{antPrefixVar}-border-radius-sm", 4px);
/** XS号圆角，用于组件中的一些小圆角 */
@borderRadiusXS: var(~"--@{antPrefixVar}-border-radius-xs", 2px);
/** 外部圆角 */
@borderRadiusOuter: var(~"--@{antPrefixVar}-border-radius-outer", 4px);

// #endregion

// #region 主题变量-背景色

/** 页面布局背景色 */
@colorBgLayout: var(
  ~"--@{antPrefixVar}-color-bg-layout",
  #eff2f7
); // 默认值: #f5f5f5 | #000000
/** 组件容器背景色 */
@colorBgContainer: var(~"--@{antPrefixVar}-color-bg-container", #ffffff);
/** 浮层容器背景色 */
@colorBgElevated: var(~"--@{antPrefixVar}-color-bg-elevated", #ffffff);
/** 浮层蒙层背景色 */
@colorBgMask: var(~"--@{antPrefixVar}-color-bg-mask", rgba(0, 0, 0, 0.45));

// #endregion

// #region 主题变量-主题色的激活色和悬浮色

/** 主题色的背景色(激活色) */
@colorPrimaryBg: var(~"--@{antPrefixVar}-color-primary-bg", #e6f4ff);
/** 主题色的背景悬浮色 */
@colorPrimaryBgHover: var(~"--@{antPrefixVar}-color-primary-bg-hover", #bae0ff);
/** 主题色的边框色(激活色) */
@colorPrimaryBorder: var(~"--@{antPrefixVar}-color-primary-border", #91caff);
/** 主题色的边框悬浮色 */
@colorPrimaryBorderHover: var(
  ~"--@{antPrefixVar}-color-primary-bg-border-hover",
  #69b1ff
);

// #endregion

// #region 主题变量-阴影样式

/** 第一级阴影样式 */
@boxShadow: var(
  ~"--@{antPrefixVar}-color-shadow",
  0 6px 16px 0 rgba(0, 0, 0, 0.08),
  0 3px 6px -4px rgba(0, 0, 0, 0.12),
  0 9px 28px 8px rgba(0, 0, 0, 0.05)
);
/** 第二级阴影样式 */
@boxShadowSecondary: var(
  ~"--@{antPrefixVar}-color-shadow-secondary",
  0 6px 16px 0 rgba(0, 0, 0, 0.08),
  0 3px 6px -4px rgba(0, 0, 0, 0.12),
  0 9px 28px 8px rgba(0, 0, 0, 0.05)
);
/** 第三级阴影样式 */
@boxShadowTertiary: var(
  ~"--@{antPrefixVar}-color-shadow-tertiary",
  0 1px 2px 0 rgba(0, 0, 0, 0.03),
  0 1px 6px -1px rgba(0, 0, 0, 0.02),
  0 2px 4px 0 rgba(0, 0, 0, 0.02)
);

// #endregion

// #endregion

// #region 组件覆盖

/** table 样式覆盖 */
.antTableOverride() {
  :not([data-theme="dark"]) {
    .@{antPrefixClass}-table {
      .@{antPrefixClass}-table-thead {
        .@{antPrefixClass}-table-cell {
          background-color: #f5f7fa;
        }
      }
    }
  }
}

/** tabs 样式覆盖 */
.antTabsOverride() {
  .@{antPrefixClass}-tabs {
    .@{antPrefixClass}-tabs-nav-list {
      .@{antPrefixClass}-tabs-tab {
        padding-left: 16px;
        padding-right: 16px;

        + .@{antPrefixClass}-tabs-tab {
          margin-top: 0;
          margin-left: 0;
        }
      }
    }
  }
}

/** 组件级别的样式覆盖 */
.antComponentsOverride() {
  .antTableOverride();
  .antTabsOverride();
}

// #endregion

// #region 混入函数

/** 清除浮动 */
.clear() {
  zoom: 1;
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

/** 单行超出截断 */
.ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/** 多行超出截断 */
.lineEllipsis(@line) {
  overflow: hidden;
  word-break: break-all;
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: @line;
}

// #endregion

// #region 自定义滚动条

/** 滚动条滑块颜色 */
@scrollbarThumb: #c7c7c7;
/** 滚动条滑块颜色 */
@scrollbarThumbDark: #6b6b6b;
/** 滚动条轨道颜色 */
@scrollbarTrack: transparent;

/** 现代的滚动条 */
.scrollbarModern(@thumb, @track) {
  scrollbar-width: thin;
  scrollbar-color: @thumb @track;
}

/** 遗留的滚动条 */
.scrollbarLegacy(@thumb, @track) {
  &::-webkit-scrollbar {
    background-color: @track;
  }
  &::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    border-radius: 10px;
    background-color: @thumb;
    background-clip: content-box;
  }
}

/** 匹配 * 的滚动条 */
.scrollbarStarSelector() {
  @supports (scrollbar-width: thin) {
    * {
      .scrollbarModern(@scrollbarThumb, @scrollbarTrack);
    }

    [data-theme="dark"] * {
      .scrollbarModern(@scrollbarThumbDark, @scrollbarTrack);
    }
  }
  @supports not (scrollbar-width: thin) {
    * {
      .scrollbarLegacy(@scrollbarThumb, @scrollbarTrack);
    }

    [data-theme="dark"] * {
      .scrollbarLegacy(@scrollbarThumbDark, @scrollbarTrack);
    }
  }
}

/** 匹配 *:hover 的滚动条 */
.scrollbarStarSelectorHover () {
  @supports (scrollbar-width: thin) {
    * {
      .scrollbarModern(transparent, transparent);
      &:hover {
        .scrollbarModern(@scrollbarThumb, @scrollbarTrack);
      }
    }

    [data-theme="dark"] *:hover {
      .scrollbarModern(@scrollbarThumbDark, @scrollbarTrack);
    }
  }
  @supports not (scrollbar-width: thin) {
    * {
      .scrollbarLegacy(transparent, transparent);
      &:hover {
        .scrollbarLegacy(@scrollbarThumb, @scrollbarTrack);
      }
    }

    [data-theme="dark"] *:hover {
      .scrollbarLegacy(@scrollbarThumbDark, @scrollbarTrack);
    }
  }
}

// #endregion
