// #region 样式配置

// antd 变量前缀
@antPrefixVar: ant;
// antd 类名前缀
@antPrefixClass: ant;
// antd 图标前缀
@antPrefixIcon: anticon;
// 业务布局 z-index
@bizLayoutZIndex: 100;
// 业务布局顶部栏高度
@bizLayoutHeader: 48;

// #endregion

@ant-prefix: @antPrefixClass;

@colorPrimary: var(~"--@{antPrefixVar}-color-primary", #294bf5);
@colorLink: var(~"--@{antPrefixVar}-color-link", #294bf5);
@colorInfo: var(~"--@{antPrefixVar}-color-info", #24a7ff);
@colorSuccess: var(~"--@{antPrefixVar}-color-success", #36b257);
@colorWarning: var(~"--@{antPrefixVar}-color-warning", #fbc504);
@colorError: var(~"--@{antPrefixVar}-color-error", #db4539);
@colorDefault: rgba(0, 0, 0, 0.25);

@colorTextHeading: var(
  ~"--@{antPrefixVar}-color-text-heading",
  rgba(0, 0, 0, 0.88)
);
@colorTextLabel: var(
  ~"--@{antPrefixVar}-color-text-label",
  rgba(0, 0, 0, 0.65)
);
@colorTextDescription: var(
  ~"--@{antPrefixVar}-color-text-description",
  rgba(0, 0, 0, 0.45)
);
@colorTextDisabled: var(
  ~"--@{antPrefixVar}-color-text-disabled",
  rgba(0, 0, 0, 0.25)
);

@colorBgContainer: var(~"--@{antPrefixVar}-color-bg-container", #ffffff);
@colorBgElevated: var(~"--@{antPrefixVar}-color-bg-elevated", #ffffff);
@colorBgMask: var(~"--@{antPrefixVar}-color-bg-mask", rgba(0, 0, 0, 0.45));
@colorBgTextHover: var(
  ~"--@{antPrefixVar}-color-bg-text-hover",
  rgba(0, 0, 0, 0.06)
);
@colorBgTextActive: var(
  ~"--@{antPrefixVar}-color-bg-text-active",
  rgba(0, 0, 0, 0.15)
);

@colorBorder: var(~"--@{antPrefixVar}-color-border", #d9d9d9);
@colorBorderSecondary: var(
  ~"--@{antPrefixVar}-color-border-secondary",
  #f0f0f0
);
@colorSplit: var(~"--@{antPrefixVar}-color-split", rgba(5, 5, 5, 0.06));

// 清除浮动
.clear() {
  zoom: 1;
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// 单行超出截断
.ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 多行超出截断
.lineEllipsis(@line) {
  overflow: hidden;
  word-break: break-all;
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: @line;
}
