@import "./basic.less";

// #region 变量映射

@menuItemHoverBg: var(~"--@{antPrefixVar}-menu-item-hover-bg");

@tableBorderColor: var(~"--@{antPrefixVar}-table-border-color");
@tableCellPaddingInlineMd: var(
  ~"--@{antPrefixVar}-table-cell-padding-inline-md"
);

// #endregion
