@import "@/styles/utils.less";

.layoutQuery {
  display: flex;
  flex-direction: column;
  height: 100%;

  .head {
    flex: none;
    margin-bottom: 12px;
  }

  .body {
    flex: auto;

    .resultBody {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }

  .tools {
    flex: none;
    margin-bottom: 8px;
  }

  .result {
    flex: auto;
  }
}
