@import "@/styles/utils.less";

.layoutQuery {
  display: flex;
  flex-direction: column;
  height: 100%;

  .filter {
    margin-bottom: 8px;
  }

  .tools {
    flex: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  .result {
    flex: auto;
  }
}
