@import "@/styles/utils.less";

.layoutQuery {
  display: flex;
  flex-direction: column;
  height: 100%;

  .head,
  .body {
    padding: @bizLayoutGap;
    border-radius: 8px;
    background-color: @colorBgContainer;

    &.bordered {
      border: 1px solid @colorBorderSecondary;
    }
  }

  .head {
    flex: none;
    margin-bottom: @bizLayoutGap;
  }

  .body {
    flex: auto;
    display: flex;
    flex-direction: column;

    &.showTools {
      padding-top: 0;

      .tools {
        margin: 8px 0;
      }
    }
  }

  .tools {
    flex: none;
  }

  .result {
    flex: auto;

    &.overflow {
      height: 0;
      overflow-y: auto;
      scrollbar-gutter: auto;
    }
  }
}
