@font-face {
  font-family: "tree-icon"; /* Project id 1943986 */
  src: url('iconfont.woff2?t=1675649702724') format('woff2'),
       url('iconfont.woff?t=1675649702724') format('woff'),
       url('iconfont.ttf?t=1675649702724') format('truetype');
}

.tree-icon {
  font-family: "tree-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tree-icon-daoru1:before {
  content: "\e8ae";
}

.tree-icon-P3:before {
  content: "\e847";
}

.tree-icon-P1:before {
  content: "\e844";
}

.tree-icon-P2:before {
  content: "\e845";
}

.tree-icon-P0:before {
  content: "\e846";
}

.tree-icon-qiehuanweishoudong:before {
  content: "\e749";
}

.tree-icon-qiehuanweizidong:before {
  content: "\e74a";
}

.tree-icon-qiehuanweiRF1:before {
  content: "\e7af";
}

.tree-icon-TGyongli_biaoshi:before {
  content: "\e7be";
}

.tree-icon-xinzengshujuji:before {
  content: "\e7fd";
}

.tree-icon-shujuji1:before {
  content: "\e7fe";
}

.tree-icon-shujuji-xinban:before {
  content: "\e7bd";
}

.tree-icon-TGyongli:before {
  content: "\e7b9";
}

.tree-icon-shujuji:before {
  content: "\e7b8";
}

.tree-icon-fuzhi:before {
  content: "\e711";
}

.tree-icon-RFyongli:before {
  content: "\e602";
}

.tree-icon-qiehuanweiRF:before {
  content: "\e601";
}

.tree-icon-yuanjian:before {
  content: "\e78a";
}

.tree-icon-integer:before {
  content: "\e76e";
}

.tree-icon-date:before {
  content: "\e76a";
}

.tree-icon-data:before {
  content: "\e76b";
}

.tree-icon-any:before {
  content: "\e76c";
}

.tree-icon-boolean:before {
  content: "\e76d";
}

.tree-icon-number:before {
  content: "\e76f";
}

.tree-icon-dictionary:before {
  content: "\e770";
}

.tree-icon-object:before {
  content: "\e771";
}

.tree-icon-null:before {
  content: "\e772";
}

.tree-icon-string:before {
  content: "\e773";
}

.tree-icon-array:before {
  content: "\e774";
}

.tree-icon-daoru:before {
  content: "\e77f";
}

.tree-icon-shanchu:before {
  content: "\e70a";
}

.tree-icon-xinzengjieguo:before {
  content: "\e744";
}

.tree-icon-bianjiyongli:before {
  content: "\e748";
}

.tree-icon-module:before {
  content: "\e6f5";
}

.tree-icon-dir1:before {
  content: "\e6f7";
}

.tree-icon-dir2:before {
  content: "\e6f9";
}

.tree-icon-shoudongyongli1:before {
  content: "\e74b";
}

.tree-icon-zidongyongli1:before {
  content: "\e74c";
}

.tree-icon-dubboleixing:before {
  content: "\e77a";
}

.tree-icon-httpleixing:before {
  content: "\e77b";
}

