@import "@/styles/utils.less";

.layoutPanel {
  display: flex;
  flex-direction: column;
  height: 100%;

  &.rimless {
    > .head,
    > .body {
      padding: 0;
    }
  }

  .head {
    flex: none;
    padding: 0 @bizLayoutGap;

    &.sticky {
      position: sticky;
      top: 0;
      z-index: @bizLayoutZIndex;
      background-color: @colorBgContainer;
    }
  }

  .body {
    flex: auto;
    padding: @bizLayoutGap;

    &.cling {
      padding-top: 0;
    }

    &.overflow {
      height: 0;
      overflow-y: auto;
      scrollbar-gutter: auto;
    }
  }
}
