@import "@/styles/utils.less";

.baseTable {
  .table {
    :global(.@{antPrefixClass}-table) {
      :global(.@{antPrefixClass}-table-thead) {
        :global(.@{antPrefixClass}-table-cell) {
          word-break: keep-all;
          white-space: nowrap;
        }
      }
    }
    .ellipsis {
      vertical-align: middle;
      .ellipsis();
    }
    .multiLine {
      vertical-align: middle;
      .lineEllipsis(1);
    }
    .tooltip {
      content: normal; // 占位
    }
  }

  .pagination {
    &.extend {
      :global(.@{antPrefixClass}-pagination-total-text) {
        flex: auto;
      }

      .total {
        display: flex;
        justify-content: space-between;

        .extend,
        .count {
          content: normal; // 占位
        }
      }
    }

    &.sticky {
      // 没有 sticky 相关的伪类
      // https://wiki.csswg.org/faq
      position: sticky;
      bottom: 0;
      z-index: 2;
      margin: 0;
      padding: @margin @tableCellPaddingInlineMd;
      border-top-width: @lineWidth;
      border-top-style: @lineType;
      border-top-color: @tableBorderColor;
      background-color: @colorBgContainer;
    }
  }

  // 避免表格横向滚动与粘性表头同时使用时出现双重滚动条
  // https://github.com/ant-design/ant-design/issues/33762
  // https://github.com/ant-design/ant-design/issues/30868
  :global(.@{antPrefixClass}-table-sticky-scroll) {
    display: none;
  }
}
