@import "@/styles/utils.less";

.baseAction {
  &.inline {
    &:global(.@{antPrefixClass}-btn) {
      display: inline-block;
      padding: 0;
      height: auto;
    }
  }
  &.transparent {
    &:global(.@{antPrefixClass}-btn),
    &:global(.@{antPrefixClass}-btn):hover {
      background-color: transparent;
    }
  }
  &.alignLeft {
    &:global(.@{antPrefixClass}-btn) {
      text-align: left;
      justify-content: left;
    }
  }
  &.alignRight {
    &:global(.@{antPrefixClass}-btn) {
      text-align: right;
      justify-content: right;
    }
  }
}
