@import "@/styles/utils.less";

.baseAction {
  &.inline {
    &:global(.@{ant-prefix}-btn) {
      display: inline-block;
      padding: 0;
      height: auto;
    }
  }
  &.transparent {
    &:global(.@{ant-prefix}-btn),
    &:global(.@{ant-prefix}-btn):hover {
      background-color: transparent;
    }
  }
  &.alignLeft {
    &:global(.@{ant-prefix}-btn) {
      text-align: left;
    }
  }
  &.alignRight {
    &:global(.@{ant-prefix}-btn) {
      text-align: right;
    }
  }
}
