@import "@/styles/utils.less";

.layoutDetail {
  display: flex;
  flex-direction: column;
  height: 100%;

  &.rimless {
    > .body {
      padding: 0;
    }
  }

  .head {
    flex: none;
    border-radius: @bizLayoutRadius;
    background-color: @colorBgContainer;

    &.topBar {
      border: 1px solid @colorBgContainer;

      > .content {
        background-color: @colorBgContainer;
        border-top: 1px solid @colorBorderSecondary;
      }
    }

    &.divider {
      border-bottom: 1px solid @colorBorderSecondary;
    }

    .crumb {
      height: 48px;
      display: flex;
      align-items: center;
      padding: 0 @bizLayoutGap;
      justify-content: space-between;
    }

    .content {
      display: flex;
      justify-content: space-between;
      padding: 0 @bizLayoutGap;
      border-radius: @bizLayoutRadius;

      .main {
        padding: @bizLayoutGap 0;

        .title {
        }

        .description {
        }
      }

      .statistic {
        flex: none;
        display: flex;
        align-items: center;
        padding: @bizLayoutGap 0;
      }
    }
  }

  .body {
    flex: auto;
    padding-top: @bizLayoutGap;

    &.cling {
      padding-top: 0;
    }

    &.overflow {
      height: 0;
      overflow-y: auto;
      scrollbar-gutter: auto;
    }
  }
}
