@import "@/styles/utils.less";

.layoutDetail {
  display: flex;
  flex-direction: column;
  height: 100%;

  .head {
    flex: none;
    padding: 4px 12px;
    background-color: @colorBgContainer;
  }

  .body {
    flex: auto;
    height: 100%;
    padding: 12px;

    &.cling {
      padding-top: 0;
    }
  }

  .crumb {
  }

  .title {
  }

  .extend {
    display: flex;
  }

  .description {
    flex: auto;
  }

  .statistic {
    flex: none;
  }
}
