@import "@/styles/utils.less";

.flexTabs {
  flex: auto;
  display: flex;
  flex-direction: column;
  height: 100%;

  :global(.@{ant-prefix}-tabs-nav) {
    flex: none;
  }

  :global(.@{ant-prefix}-tabs-content-holder) {
    flex: auto;
    display: flex;
    flex-direction: column;

    :global(.@{ant-prefix}-tabs-content) {
      flex: auto;
      display: flex;
      flex-direction: column;

      :global(.@{ant-prefix}-tabs-tabpane) {
        flex: auto;
      }
    }
  }

  &.overflow {
    :global(
        .@{ant-prefix}-tabs-content-holder
          .@{ant-prefix}-tabs-content
          .@{ant-prefix}-tabs-tabpane
      ) {
      height: 0;
      overflow-y: auto;
      scrollbar-gutter: auto;
    }
  }

  &.top {
    :global(.@{ant-prefix}-tabs-nav) {
      margin-bottom: 8px;
    }
  }
  &.bottom {
    :global(.@{ant-prefix}-tabs-nav) {
      margin-top: 8px;
    }
  }
  &.left,
  &.right {
    flex-direction: row;

    :global(
        .@{ant-prefix}-tabs-content-holder
          .@{ant-prefix}-tabs-content
          .@{ant-prefix}-tabs-tabpane
      ) {
      padding: @bizLayoutGap;
    }
  }

  .radioGroupNav {
    padding: 8px 0;
  }
}
