@import "@/styles/utils.less";

.flexTabs {
  flex: auto;
  display: flex;
  flex-direction: column;
  height: 100%;

  :global(.@{ant-prefix}-tabs-nav) {
    flex: none;
  }

  :global(.@{ant-prefix}-tabs-content-holder) {
    flex: auto;
    display: flex;
    flex-direction: column;

    :global(.@{ant-prefix}-tabs-content) {
      flex: auto;
      display: flex;
      flex-direction: column;

      :global(.@{ant-prefix}-tabs-tabpane) {
        flex: auto;
      }
    }
  }

  .title {
    display: block;
    line-height: 1;
    padding-right: 16px;
    margin-right: 16px;
    border-right: 1px solid @colorBorderSecondary;
  }

  .tabBar {
    display: flex;
    align-items: center;
    padding: @bizLayoutGap 0;

    .segmented {
      flex: auto;
    }

    .extraLeft,
    .extraRight {
      flex: none;
    }
  }

  &.top {
    :global(.@{ant-prefix}-tabs-nav) {
      margin-bottom: @bizLayoutGap;
    }
  }
  &.bottom {
    :global(.@{ant-prefix}-tabs-nav) {
      margin-top: @bizLayoutGap;
    }
  }
  &.left,
  &.right {
    flex-direction: row;

    :global(
      .@{ant-prefix}-tabs-content-holder
        .@{ant-prefix}-tabs-content
        .@{ant-prefix}-tabs-tabpane
    ) {
      padding: @bizLayoutGap;
    }

    .tabBar {
      flex-direction: column;
      padding: 0 @bizLayoutGap;
    }
  }

  &.cling {
    :global(.@{ant-prefix}-tabs-nav) {
      margin-bottom: 0;
    }

    .tabBar {
      padding-bottom: 0;
    }
  }

  &.overflow {
    :global(
      .@{ant-prefix}-tabs-content-holder
        .@{ant-prefix}-tabs-content
        .@{ant-prefix}-tabs-tabpane
    ) {
      height: 0;
      overflow-y: auto;
      scrollbar-gutter: auto;
    }
  }
}
