@import "@/styles/utils.less";

.baseText {
  font-size: 14px;
  font-weight: normal;
  color: @colorTextLabel;

  &.main {
    font-size: 20px;
    font-weight: bold;
    color: @colorTextHeading;
  }
  &.sub {
    font-size: 16px;
    font-weight: bold;
    color: @colorTextHeading;
  }
  &.small {
    font-size: 14px;
    font-weight: bold;
    color: @colorTextHeading;
  }
  &.strong {
    font-size: 14px;
    font-weight: bold;
    color: @colorTextLabel;
  }
  &.help {
    font-size: 14px;
    font-weight: normal;
    color: @colorTextDescription;
  }
  &.disabled {
    font-size: 14px;
    font-weight: normal;
    color: @colorTextDisabled;
  }
}
